@import "compass/css3"; // compass css3 helpers

@import "font-awesome/variables";
@import "font-awesome/mixins";

@import "variables";
@import "mixins";

$badge-claimed : #4CA64C;
$badge-eligible : #FFC04C;
$badge-unclaimed : #CC0000;
$badge-neutral : #666666;

body {
	@include loader(gm-state-loading);
}

.gm-score-line-item {
	& > .elgg-image {
		min-width: 50px;
		text-align: right;
	}
}

.gm-score-negative {
	padding: 4px 8px;
	@include border-radius(4px);
	background: $alert-color;
	color: white;
}

.gm-score-positive {
	padding: 4px 8px;
	@include border-radius(4px);
	background: $success-color;
	color: white;
}

.gm-badge-gallery {
	& > li {
		margin: 5px;
		padding: 5px;
		text-align: center;
		p {
			font-size: 90%;
			font-weight: bold;
			padding: 4px 0;
		}
		&.elgg-state-sortable img {
			cursor: move;
		}
	}
}

.gm-badge {
	@include border-radius(1000px);
	border: 4px solid $badge-neutral;
	&:hover {
		@include box-shadow(0 0 6px $badge-neutral);
	}
	&.gm-badge-claimed {
		border: 4px solid $badge-claimed;
		&:hover {
			@include box-shadow(0 0 6px $badge-claimed);
		}
	}
	&.gm-badge-eligible {
		border: 4px solid $badge-eligible;
		&:hover {
			@include box-shadow(0 0 6px $badge-eligible);
		}
	}
	&.gm-badge-unclaimed {
		border: 4px solid $badge-unclaimed;
		&:hover {
			@include box-shadow(0 0 6px $badge-unclaimed);
		}
	}
	&.gm-badge-tiny {
		border-width: 1px;
	}
	&.gm-badge-small {
		border-width: 2px;
	}
}

.gm-badge-placeholder {
	@include border-radius(1000px);
	border: 4px solid $badge-neutral;
	display: block;
	width: 100px;
	height: 100px;
}

.gm-badge-module {
	text-align: center;
	.elgg-menu-entity {
		float: none;
		margin: 0;
		text-align: center;
		& > li {
			float: none;
			display: inline-block;
		}
	}
}

.gm-rule-progress {
	margin: 5px 0;
}
.gm-progressbar {
	position: relative;
	height: 15px;
	width: 100%;
	border: 1px solid $border-color;
	@include box-sizing(border-box);
	span {
		display: block;
		height: 15px;
		position: absolute;
		left: 0;
		top: 0;
		border: 1px solid transparent;
		background: $badge-unclaimed;
	}
	&.gm-progressbar-pending span {
		background: $badge-eligible;
	}
	&.gm-progressbar-complete span {
		background: $badge-claimed;
	}
}

.gm-badge-claimed-notice {
	padding: 20px;
	margin: 10px 0;
	border: 1px solid $border-color;
	font-weight: bold;
	display: inline-block;
}

.gm-badge-full {
	width: 600px;
	max-width: 100%;
	.elgg-content {
		margin: 10px 0;
		font-size: 95%;
	}
}