.gm-score-line-item > .elgg-image {
  min-width: 50px;
  text-align: right;
}

.gm-score-negative {
  padding: 4px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #67080a;
  color: white;
}

.gm-score-positive {
  padding: 4px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #396516;
  color: white;
}

.elgg-module-badges {
  margin: 10px 0 25px;
}

.elgg-module-badges > .elgg-head {
  padding: 5px;
  border-bottom: 1px solid #e8e8e8;
}

.hj-badge-gallery > li {
  margin: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.ui-progressbar {
  height: 12px;
  margin: 5px 0 10px;
}

.ui-progressbar-value {
  height: 11px;
}

.hj-mechanics-badge-profile {
  text-align: center;
  font-size: 11px;
}

.hj-mechanics-badge-profile > div {
  margin: 3px 0;
}

.hj-mechanics-badge-type {
  font-size: 12px;
  font-weight: bold;
  color: #666;
}

.hj-mechanics-uncover-badge {
  margin: 25px;
  text-align: center;
  font-size: 13px;
  padding: 10px;
  border: 1px solid yellow;
}

.hj-badge-claimed {
  border-bottom: 4px solid green;
}

.hj-badge-unclaimed {
  border-bottom: 4px solid red;
}

.hj-badge-eligible {
  border-bottom: 4px solid gold;
}
